.site-header {
	background-color: $black;

	> .wrap {
		padding: 0px;
	}

	.widget {
		padding: 0;
	}
}

.title-area {
	float: left;
	padding: 10px;
	width: 100%;

	.header-image & {
		margin: 15px auto 0;
		padding: 0 10px;
		width: 159px;
	}

	.header-full-width & {
		float: none;
		width: 100%;
	}
}

.site-title,
.site-description {
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	//* This assumes image logo. Reset if using text logo

	.header-image & {
		display: block;
		text-indent: -9999px;

		> a {
			background-image: url(images/logo.svg);
			background-position: center center!important;
			background-repeat: no-repeat;
			float: left;
			min-height: 43px;
			width: 159px;
		}
	}
}
