.site-header {
	background-color: $headerNavBackground;

	> .wrap {
		padding: 0px;
	}

	.widget {
		padding: 0;
	}
}

.title-area {
	float: left;
	padding: 10px;
	width: 100%;

	.header-image & {
		margin: 15px auto 0;
		padding: 0 10px;
		width: 159px;
	}

	.header-full-width & {
		float: none;
		width: 100%;
	}
}

.site-title,
.site-description {
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	//* This assumes image logo. Reset if using text logo

	.header-image & {
		display: block;
		text-indent: -9999px;

		> a {
			background-image: url(images/logo.svg);
			background-position: center center!important;
			background-repeat: no-repeat;
			background-color: $color5;
			border: solid 3px $color5;
			border-radius: 100%;
			float: left;
			height: 10rem;
			left: 10rem;
			position: absolute;
			top: 5rem;
			width: 10rem;
			z-index: 10;
		}
	}
	#svg-logo {
		fill: $color3;
	}
}
